{% extends 'website/base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="text-align: center; padding-top: 10px;">
			<a href="/"><img src="/static/website/images/B-Splice-Logo.png" width=300>	</a>
		</div>
	
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center; padding-top: 10px;">
			
			
			BookSplice is a book recommendation tool that opens up the black box, revealing the reasons why it makes its recommendations and allowing you to choose how it recommends you books.
<BR><BR>
BookSplice is unique because it uses book reviews as the basis for its recommendations. Readers on websites like Goodreads analyze books' strengths and weaknesses and evaluate the features that make them stand out. We use a curated selection of Goodreads shelves as key features that tie together books, such as genres and topics, and perform sentiment analysis on book reviews in order to determine the features that most impressed reviewers about the book. BookSplice then recommends you books that have similar strengths. The result is a book recommendation tool that allows you to start with a book, choose the features you liked most about that book, and find other books that share those features. Enjoy!
<BR><BR>
	
	
	BookSplice is created by Joseph, Allison, Amy, Kieu, and Xin.
<BR>
	
	<img src="/static/website/images/joseph.jpg" class="img-circle" width=80 style="padding: 5px;">
	
	<a href="http://twitter.com/AllisonHegel"><img src="/static/website/images/allison.jpg" class="img-circle" width=80 style="padding: 5px;"></a>
	
	<a href="http://twitter.com/amyxzh"><img src="/static/website/images/amy.jpg" class="img-circle" width=80 style="padding: 5px;"></a>
	
	<a href="http://thienkieulam.com"><img src="/static/website/images/kieu.jpg" class="img-circle" width=80 style="padding: 5px;"></a>
	
	<img src="/static/website/images/xin.jpg" class="img-circle" width=80 style="padding: 5px;">
	
			</div>
	
		
	</div>
	
	

</div>

{% endblock %}