{% extends 'website/base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4" style="text-align: right;">	
		</div>
		<div class="col-md-7" style="padding-top: 30px;">
			<div class="input-group add-on">
		      <input class="form-control" placeholder="Search for a book title or author here" name="srch-term" id="booksearch" type="text">
		      <div class="input-group-btn">
		        <button class="btn btn-default" type="submit" id="submit-btn"><i class="glyphicon glyphicon-search"></i></button>
		      </div>
		    </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1">
			<img src="/static/website/images/B-Splice-Logo.png" width=80>	
		</div>
		<div class="col-md-3" style="text-align: right;">
			<img src="{{ book.cover_url }}" width=280>	
		</div>
		<div class="col-md-7">
			<div style="display: block; position: relative; height: 300px;">
				{% for tag in tags %}
					<button class="flat-butt flat-danger-butt">{{ tag.shelf }}</button>
				{% endfor %}
				{% for cat in cats %}
					<button class="flat-butt flat-info-butt"> {{ cat.category }}</button>
				{% endfor %}			
				</div>
			<div>
				<strong>{{ book.book_title }}</strong>
				<BR>
					{{ book.book_author }}
					<BR>
				<i>{{ book.description }}</i><BR>
					Published by {{ book.book_publisher }} on {{ book.book_pub_date }}
			</div>
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-1 vertical-center">
			<img src="static/website/images/leftarrow.png" width=80 class="img-responsive center-block">
		</div>
		<div class="col-md-2">
			<img src="https://images.gr-assets.com/books/1473617211l/23602569.jpg" width=150>
		</div>
		<div class="col-md-2">
			<img src="https://images.gr-assets.com/books/1473617211l/23602569.jpg" width=150>
		</div>
		<div class="col-md-2">
			<img src="https://images.gr-assets.com/books/1473617211l/23602569.jpg" width=150>
		</div>
		<div class="col-md-2">
			<img src="https://images.gr-assets.com/books/1473617211l/23602569.jpg" width=150>
		</div>
		<div class="col-md-2">
			<img src="https://images.gr-assets.com/books/1473617211l/23602569.jpg" width=150>
		</div>
		<div class="col-md-1 vertical-center">
			<img src="static/website/images/rightarrow.png" width=80 class="img-responsive center-block">
		</div>
	</div>

</div>


{% endblock %}

{% block scripts %}

<script>
	
	var search = function(e) {
		var book = $('#booksearch').val();
		window.location.replace('/?search=' + book);
	};
	
	
	
	$('#submit-btn').click(function(e){
		search(e);
	});
	
	
	$('input').bind("enterKey",function(e){
	   search(e);
	});
	$('input').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
	
	
</script>

{% endblock %}

