{% extends 'website/base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4" style="text-align: right;">	
		</div>
		<div class="col-md-7" style="padding-top: 30px;">
			<div class="input-group add-on">
		      <input class="form-control" placeholder="Search for a book title or author here" name="srch-term" id="booksearch" type="text">
		      <div class="input-group-btn">
		        <button class="btn btn-default" type="submit" id="submit-btn"><i class="glyphicon glyphicon-search"></i></button>
		      </div>
		    </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1">
			<img src="/static/website/images/B-Splice-Logo.png" width=80>	
		</div>
		<div class="col-md-3" style="text-align: right;">
			<img src="{{ book.cover_url }}" width=280>	
		</div>
		<div class="col-md-7">
			<div style="display: block; position: relative; height: 300px;">
				{% for tag in tags %}
					<button class="tags flat-butt flat-danger-butt">{{ tag.shelf }}</button>
				{% endfor %}
				{% for cat in cats %}
					<button class="cats flat-butt flat-info-butt">{{ cat.category }}</button>
				{% endfor %}
				</div>
			<div style="overflow-y: scroll; height: 100px; display: block;">
				<strong>{{ book.book_title }}</strong>
				<BR>
					{{ book.book_author }}
					<BR>
				<i>{{ book.description }}</i><BR>
					Published by {{ book.book_publisher }} on {{ book.book_pub_date }}
			</div>
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-1 vertical-center">
			<img onclick="indexleft();" src="static/website/images/leftarrow.png" width=80 class="leftarrow img-responsive center-block" style="display: none;">
		</div>
		<div class="col-md-2 rec">
			
		</div>
		<div class="col-md-2 rec">
			
		</div>
		<div class="col-md-2 rec">
			
		</div>
		<div class="col-md-2 rec">
			
		</div>
		<div class="col-md-2 rec">
			
		</div>
		<div class="col-md-1 vertical-center">
			<img onclick="indexright();" src="static/website/images/rightarrow.png" width=80 class="rightarrow img-responsive center-block" style="display: none;">
		</div>
	</div>

</div>


{% endblock %}

{% block scripts %}

<script>

	var index = 0;

	function indexright() {
		index = index + 5;
		reloadRecs();
	}
	
	function indexleft() {
		index = index - 5;
		reloadRecs();
	}

	function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
	    function(m,key,value) {
	      vars[key] = value;
	    });
	    return vars;
	  }
	  
	  var clearSelected = function() {
		if ($('.book-selected').length > 0) {
			
			$('.book-selected').removeClass('book-selected');
			
			console.log($('.selected'));
			
			$('.selected').each( function (i) {		
				if ($(this).hasClass('flat-danger-double-butt')) {
					$(this).addClass('flat-danger-grad-butt');
					$(this).addClass('flat-danger-butt');
					$(this).removeClass('danger-striped');
				} else {
					$(this).addClass('flat-info-grad-butt');
					$(this).addClass('flat-info-butt');
					$(this).removeClass('info-striped');
				}
					
			});
			
		}
	};
	  
	var check_tags = function(id) {
		
		clearSelected();
		
		if (!$('#' + id).hasClass('book-selected')) {
			
			
			$('#' + id).addClass('book-selected');
		
			data = {'id': id,
					'csrfmiddlewaretoken': '{{ csrf_token }}'};
			
			$.ajax({
				type: 'POST',
				url: '/check_tags',
				data: data,
				success: function(res) {
					$('.selected').each( function (i) {
						var button = $(this).text();
						console.log(button);
						for (var i=0; i<res.res.length; i++) {
							if (button === res.res[i].tag) {
								if ($(this).hasClass('flat-danger-double-butt')) {
									$(this).removeClass('flat-danger-grad-butt');
									$(this).removeClass('flat-danger-butt');
									$(this).addClass('danger-striped');
								} else {
									$(this).removeClass('flat-info-grad-butt');
									$(this).removeClass('flat-info-butt');
									$(this).addClass('info-striped');
								}
								
							}
						}
					});
				},
				error: function(res) {
					console.log(res);
				}
			});
			
			
		}
		
	};


	

	var reloadRecs = function() {
		
		clearSelected();

		var tagstr = '';
		$('.selected').each(function(i) {
			tagstr += $(this).text() + ',';
		});
		
		var id = getUrlVars()["id"];
		data = {'tags': tagstr,
				'id': id,
				'index': index,
				'csrfmiddlewaretoken': '{{ csrf_token }}'};
		
		$.ajax({
			type: 'POST',
			url: '/get_recs',
			data: data,
			success: function(res) {
				console.log(res);
				$('.rec').each( function (i) {
					if (i < res.res.length) {
						$(this).html('<div class="book" onclick="check_tags(\'' + res.res[i].id + '\')" id="' + res.res[i].id + '"><b>' + res.res[i].title + '</b><BR>' + res.res[i].author + '<BR><img src="' + res.res[i].cover + '" width=130></div>');
					} else {
						$(this).html('');
					}
				});
				
				if (res.moreleft) {
					$('.leftarrow').show();
				} else {
					$('.leftarrow').hide();
				}
				if (res.moreright) {
					$('.rightarrow').show();
				} else {
					$('.rightarrow').hide();
				}
				
			},
			error: function(res) {
				console.log(res);
			}
		});
		
	};
	
	var search = function(e) {
		var book = $('#booksearch').val();
		window.location.replace('/?search=' + book);
	};
	
	
	
	$('#submit-btn').click(function(e){
		search(e);
	});
	
	$('input').bind("enterKey",function(e){
	   search(e);
	});
	$('input').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
	
	$('.tags').click(function(e) {
		var tag = $(this).text();
		if (!$(this).hasClass('selected')) {
			//$(this).removeClass('flat-danger-butt');
			$(this).addClass('flat-danger-double-butt');
			$(this).addClass('flat-danger-grad-butt');
			//$(this).addClass('flat-danger-butt-dark');
			$(this).addClass('selected');
		} else {
			//$(this).addClass('flat-danger-butt');
			$(this).removeClass('flat-danger-double-butt');
			$(this).removeClass('flat-danger-grad-butt');
			//$(this).removeClass('flat-danger-butt-dark');
			$(this).removeClass('selected');
		}
		reloadRecs();
	});
	
	$('.cats').click(function(e) {
		var tag = $(this).text();
		if (!$(this).hasClass('selected')) {
			//$(this).removeClass('flat-info-butt');
			$(this).addClass('flat-info-double-butt');
			$(this).addClass('flat-info-grad-butt');
			//$(this).addClass('flat-info-butt-dark');
			$(this).addClass('selected');
		} else {
			//$(this).addClass('flat-info-butt');
			$(this).removeClass('flat-info-double-butt');
			$(this).removeClass('flat-info-grad-butt');
			//$(this).removeClass('flat-info-butt-dark');
			$(this).removeClass('selected');
		}
		reloadRecs();
	});
	
	
</script>

{% endblock %}

