{% extends 'website/base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="text-align: center; padding-top: 10px;">
			<img src="/static/website/images/B-Splice-Logo.png" width=300>	
		</div>
	
	</div>
	<div class="row">
	
		<div class="col-md-12" style="text-align: center;">
			<div class="input-group add-on" style="text-align: center;">
		      <input class="form-control" placeholder="Search for a book by typing the book title or author here" name="srch-term" id="booksearch" type="text">
		      <div class="input-group-btn">
		        <button class="btn btn-default" type="submit" id="submit-btn"><i class="glyphicon glyphicon-search"></i></button>
		      </div>
		    </div>
		</div>
	</div>
	
	<div id="results">
		
	</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
<script>
	
	
	function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
	    function(m,key,value) {
	      vars[key] = value;
	    });
	    return vars;
	  }
	
	var booksearch = getUrlVars()["search"];
	if (booksearch) {
		$('#booksearch').val(booksearch.replace(/%20/g, " "));
	}
	
	var search = function() {
		var book = $('#booksearch').val();
		
		data = {'title': book,
				'csrfmiddlewaretoken': '{{ csrf_token }}'};
		
		$.ajax({
			type: 'POST',
			url: '/search_title',
			data: data,
			success: function(res) {
				console.log(res);
				if (res.res) {
					if (res.res.length == 0) {
						$('#results').text('No results. Try another query!');
					} else {
						var str = '';
						for (var i=0; i < res.res.length; i++) {
							if ( i % 4 == 0) {
								if (i != 0) {
									str += '</div>';
								}
								str += '<div class="row" style="text-align: center;">';
							}
							var book = res.res[i];
							str += '<div class="col-md-2"><a href="/bookrec?id=' + book.id + '"><b>' + book.title + '</b><BR>' + book.author + '<BR><img width=120 src="' + book.cover + '"></a></div>';
						}
						$('#results').append(str);
					}
				}
			},
			error: function(res) {
				console.log(res);
			}
		});
	};
	
	
	if ($('#booksearch').val() != '') {
		search();
	}
	
	
	$('#submit-btn').click(function(e){
		search();
	});
	
	
	$('input').bind("enterKey",function(e){
	   search();
	});
	$('input').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
	
	
</script>
{% endblock %}